<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
        <meta name="keywords" content="karottc,karotte,karott,cy,杨叔" />
        <meta name="description" content="karottc Chen's Blog" />
        <title>{% if page.title %} {{ page.title }} {% else %} {{ site.title }} {% endif %} </title>
        <link rel="stylesheet" href="{{ site.baseurl }}/css/default.css" type="text/css" />
        <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css" type="text/css" />
        <link rel="stylesheet" href="{{ site.baseurl }}/css/highlight.css" type="text/css" />
        <link rel="shortcut icon" href="{{ site.baseurl }}/images/karottc.jpg" />
    </head>
    <body>
